---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/** ========================================= **/
/** Don't forget to design mobile first bud!! **/
/** ========================================= **/

// Fonts
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Monaco, 'Andale Mono', monospace;
$palatino: Palatino, "Times New Roman", Times, serif;
$verdana: Verdana, Geneva, sans-serif;

// Our variables
$base-font-family:      "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;;
$base-font-size:        1em;
$base-size:             16;
$base-font-weight:      400;
$light-font-weight:     100;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.75rem;
$base-opacity:          0.5;
$box-shadow-opacity:    0.3;

$body: $base-font-size;
$mini-space: 0.5em;

$spacing-unit:          1.875em;

// My Color Additions
$primary-color:         #12a6fb;
$primary-color-light:   #b3e4ff;
$primary-color-dark:    #0a75c4;
$accent-color:          #cddc39;
$accent-color-2:        #ffc107;

$background-color:      #e4edf4;
$text-color-light:      $background-color;
$text-color-dark:       #31424c;
$white:                 #fff;

$grey-color:            #828282;
$grey-color-light:      lighten($grey-color, 40%);
$grey-color-dark:       darken($grey-color, 25%);

// Width of the content area
$content-width:         980px;

$on-palm:               600px;
$on-ipad:               800px;
$on-laptop:             1224px;
$on-monitor:            1824px;

// Use media queries like this:
// @include min-media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin min-media-query($device) {
    @media only screen and (min-width: $device) {
        @content;
    }
}

@mixin max-media-query($device) {
    @media only screen and (max-width: $device) {
        @content;
    }
}

// From px to em & rems functions.
@function em($pixel){
  @return (1/16) * $pixel+em;
}
@function rem($pixel){
  @return (1/16) * $pixel+rem;
}

// Good ole' mixins for browser fixes!
@mixin transition-easy($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    transition: all $time ease;
}
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    transition: $args;
}
@mixin transform($args...) {
    -webkit-transform:$args;
    -moz-transform:$args;
    -ms-transform:$args;
    transform:$args;
}
 @mixin box-shadow($shadows...) {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    box-shadow: $shadows;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// Regulary Used code as mixins
// ============================

@mixin icon-shadow-hover {
  &:hover {
    @include box-shadow(0px 4px 10px -2px rgba(0,0,0,0.5));
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "animations",
        "base",
        "layout",
        "syntax-highlighting",
        "site"
;
