<footer class="site-footer" id="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <a href="/"><img src="/img/logo.png" alt="logo" /></a>
      </div>

      <div class="footer-col footer-col-4">
        <div class="social-media-list">
          <a class="hide-on-palm" href="mailto:celtson.toote@gmail.com">
            <span class="shadow fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://www.linkedin.com/in/celtson-toote-a444b795?trk=nav_responsive_tab_profile_pic" target="_blank" rel="noopener noreferrer">
            <span class="shadow fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <!-- <a href="https://www.facebook.com/CeltsonToote" target="_blank" rel="noopener noreferrer">
            <span class="shadow fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a> -->
          <a class="hide-on-palm" href="http://codepen.io/ct1221/" target="_blank" rel="noopener noreferrer">
            <span class="shadow fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-codepen fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a class="hide-on-palm" href="https://github.com/ct1221" target="_blank" rel="noopener noreferrer">
            <span class="shadow fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://www.quora.com/profile/Celtson-Toote" target="_blank" rel="noopener noreferrer">
            <span class="shadow fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-stack-1x fa-inverse"><strong>Q</strong></i>
            </span>
          </a>
          <a href="https://soundcloud.com/celtson-toote" target="_blank" rel="noopener noreferrer">
            <span class="shadow fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://www.youtube.com/channel/UC9rjwe4trIYP6xjHA7qBLZQ" target="_blank" rel="noopener noreferrer">
            <span class="shadow fa-stack fa-2x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="footer-col footer-col-4">
        <h2>Unique ~ Determined ~ Passionate ~ Lively</h2>
        <p><span>Contact Me:</span> <a class="email" href="mailto:celtson.toote@gmail.com">celtson.toote@gmail.com</a></p>
      </div>
    </div>

  </div>
  <div class="contact-me" id="contact-me">
    <p>Contact Me Here</p>
    <span class="fa-3x">
      <i class="fa fa-chevron-down fa-active"></i>
    </span>
  </div>

</footer>