<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://use.typekit.net/c/8e4394/1w;adelle,2,XJr:W:i1,XKB:W:i4,XKG:W:i7,XJq:W:n1,XK9:W:n4,XKF:W:n7;proxima-nova,2,gbh:W:i1,gbm:W:i4,gbt:W:i7,gbg:W:n1,gbl:W:n4,gbs:W:n7/d" media="all">
  <!-- <link href="//fonts.googleapis.com/css?family=Roboto+Slab:300,400,500&amp;lang=en" rel="stylesheet"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Script -->
  <!-- <script src="{{ "/js/zepto.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/celtson-js.min.js" | prepend: site.baseurl }}"></script> -->
  <script>
    // "hide" class is so that div does not show up on page load.
    window.onload = function () {
      popup = document.getElementsByClassName('pop-up');
      for (i = 0; i < popup.length; i++) {
        popup[i].classList.add('hide');
      }
      document.body.classList.remove('fade-out');
    }
  </script>

</head>
