/**
 * Reset some basic elements
 */
* {
    &,
    &:after,
    &:before {
        box-sizing: border-box;
        margin: 0;
    }
}
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}
/**
 * Basic styling
 */
body {
    font: $base-font-weight $base-size+px $base-font-family;
    color: $text-color-light;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    letter-spacing: 0.5px;
    opacity: 1;
    line-height: $base-line-height;
    font-weight: $light-font-weight;
    @include transition-easy(1s);
    &.fade-out {
        opacity: 0;
        @include transition(none);
    }
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm,
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
    margin-bottom: $spacing-unit / 2;
}
/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
/**
 * Figures
 */
figure > img {
    display: block;
}
figcaption {
    font-size: em(14);
}
/**
 * Lists
 */
ol,
ul {
    padding-left: $spacing-unit;
}
li {
     > ul,
    > ol {
        margin-bottom: 0;
    }
}
/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}
/**
 * Links
 */
a {
    color: $primary-color;
    text-decoration: none;
    &.light-link {
        color: $white;
    }
    &.normal {
        &:visited {
            color: $primary-color-dark;
        }
        &:hover {
            color: $text-color-light;
            text-decoration: underline;
        }
    }
}
/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: $base-font-size;
    letter-spacing: -1px;
    font-style: italic;
    > :last-child {
        margin-bottom: 0;
    }
}
/**
 * Code formatting
 */
code,
pre {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    @include border-radius(3px);
    background-color: #eef;
}
code {
    padding: 1px 5px;
}
pre {
    padding: 8px 12px;
    overflow-x: auto;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
/**
 * Wrapper
 */
.wrapper {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    @include max-media-query($on-laptop) {
        max-width: calc(51.875 - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $grey-color;
        }
        .nav {
            fill: $white;
        }
    }
}
/**
 * Columns
 */
.half-col {
    @include min-media-query($on-palm) {
        width: 50%;
        float: left;
    }
}
/**
 * Buttons
 */
.button {
    padding: 0.5em 1.25em;
    text-align: center;
    min-width: 125px;
    cursor: pointer;
    font-size: em(20);
    position: relative;
    &.transparent {
        border: 1px solid $white;
        @include transition-easy(0.3s);
        font-size: rem(16);
        &.active {
            color: $primary-color;
            &::after {
                width: 100%;
                opacity: 1;
            }
        }
        &::after {
            background-color: $white;
            width: 0;
            opacity: 0;
            height: 100%;
            top: 0;
        }
        @include min-media-query($on-ipad) {
            font-size: rem(18);
            min-width: 160px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        @include transition-easy(0.3s);
    }
}
/**
 * Display Classes
 */
@include max-media-query($on-palm) {
    .hide-on-palm {
        display: none !important;
    }
}
/**
 * Layover
 */
.layover {
    background-color: $white;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
    @include transition-easy(1s);
    &.exit {
        width: 0;
    }
    &.enter {
        animation: enter-page 1s ease-in forwards;
    }
}
/**
 * Font Awesome
 */
@font-face {
    font-family: 'FontAwesome';
    // src: url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('http://netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include transition-easy(0.3s);
    color: $white;
    // vertical-align: -15%;
    // line-height: 0.75em;
}
.fa-border {
    padding: 0.35em 0.40em 0.25em;
    border: solid 0.08em #eeeeee;
    @include border-radius(50%);
}
.fa-inverse {
    color: $primary-color;
}
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    &.shadow {
        &:hover {
            .fa-stack-1x {
                text-shadow: 0 5px 5px rgba(0,0,0,0.33), 10px 10px 5px rgba(0,0,0,0.07), -10px 10px 5px rgba(0,0,0,0.07);
            }
            .fa-stack-2x {
                text-shadow: 0 4px 3px rgba(0,0,0,0.2), 0 8px 13px rgba(0,0,0,0.07), 0 18px 23px rgba(0,0,0,0.07);
            }
        }
    }
}
.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
/* Icon Sizes */
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-2x {
    font-size: 2em;
}
.fa-lg {
    font-size: 1.5em;
}
.fa-2x {
    font-size: 2em;
}
/* Icons */
.fa-circle:before {
    content: "\f111";
}
.fa-circle-o:before {
    content: "\f10c";
}
.fa-facebook:before {
    content: "\f09a";
}
.fa-codepen:before {
    content: "\f1cb";
}
.fa-github:before {
    content: "\f09b";
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-linkedin:before {
    content: "\f0e1";
}
.fa-youtube:before {
    content: "\f167";
}
.fa-soundcloud:before {
    content: "\f1be";
}
.fa-pinterest:before {
    content: "\f231";
}
.fa-medium:before {
    content: "\f23a";
}
.fa-chevron-down:before {
    content: "\f078";
}
