/**
 * Site header
 */
.site-header {
    min-height: rem(56);
    position: relative;
    background-color: $white;
    z-index: 1;
    @include box-shadow(0px 0px 20px 2px rgba(0, 0, 0, 0.1));
    &::after {
      content: "";
      display: table;
      clear: both;
    }
    // .site-nav {
    //   &:hover .trigger {
    //       background-color: white;
    //       @include box-shadow(1px 5px 12px -4px rgba(0,0,0, 0.3));
    //   }
    //   .page-link {
    //     color: $primary-color;
    //     &:hover {
    //       color: $primary-color;
    //       border-bottom: 1px solid $primary-color;
    //       border-top: 1px solid $primary-color;
    //       text-indent: em(20);
    //     }
    //   }
    // }
    @include min-media-query($on-ipad) {
      @include flexbox();
    }
}
.title-wrapper {
  text-align: center;
  @include min-media-query($on-ipad) {
    @include flex( 1 0 auto );
  }
}
.verse-wrapper {
  background-color: $primary-color;
  padding: $spacing-unit;
  font-size: em(18);
  h2 {
    margin: 0;
    font-size: $base-font-size;
    text-transform: uppercase;
    span {
      text-transform: none;
      display: block;
      font-weight: $light-font-weight;
      margin-top: $mini-space;
    }
  }
  @include min-media-query($on-ipad) {
    @include flex( 0 0 50% );
    width: 50%; // For really old stuff
  }
  @include min-media-query($on-laptop) { font-size: 22px; }
}
.site-title {
    font-size: em(48);
    font-weight: 300;
    line-height: 1em;
    letter-spacing: -1px;
    margin-bottom: 0;
    padding: em(16);
    display: block;
}

.menu-header {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 3;
  opacity: 1;
  left: 0;
  @include transition(left 0s 0s, opacity 0.3s 0s);

  .close-menu {
    position: absolute;
    top: 5%;
    left: 5%;
    img {
      max-width: 30px;
    }
    @include transition-easy(0.3s);

    &:hover {
        @include transform(scale(1.1));
    }

  }

  &.hidden {
    left: -9999px;
    opacity: 0;
    @include transition(left 0s 0.3s, opacity 0.3s 0s);
  }

}

.site-nav {
    line-height: 3.5em;
    position: absolute;
    z-index: 3;
    top: rem(25);
    left: rem(30);
    cursor: pointer;

    .menu-icon {
        display: block;
        line-height: 0;
        text-align: center;
        > svg {
            width: em(30);
            height: em(30);
        }
        &:hover {
          > svg .nav:first-of-type { width: 12px; }
        }
    }
}

.trigger {
  position: relative;
  left: 50%;
  top: 50%;
  @include transition-easy(0.3s);
  @include transform(translateX(-50%) translateY(-50%));

  .page-link {
    margin: 0 auto;
    width: 450px;
    display: block;
    text-align: center;
    line-height: $base-line-height * 2;
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    font-family: $parent-font-family;
    font-weight: $light-font-weight;
    @include transition-easy(0.3s);

    &:hover {
      color: $primary-color;
      @include transform(scale(1.1));
    }

    @include min-media-query($on-palm) {
        font-size: 60px;
    }
    @include min-media-query($on-monitor) {
        font-size: 75px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    background-color: $primary-color;
    position: relative;
}
.footer-heading {
    font-size: em(18);
    margin-bottom: $spacing-unit / 2;
}
.contact-me {
    position: absolute;
    top: em(-80);
    left: 0;
    right: 0;
    text-align: center;
    color: $accent-color;
    font-weight: 200;
    opacity: 0;
    display: none;
    animation: fade-in 6s 0.1s, bounce 2s 1s 2;
    &.active { display: block; }
    p { margin: 0; }
}
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
.footer-col-wrapper {
    font-size: em(15);
    margin: 0 auto;
    @extend %clearfix;
}
.footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
    text-align: center;
    margin: 1em auto;
    a.email {
      color: $white;
      border-bottom: 1px solid transparent;
      @include transition-easy(0.3s);
      &:hover { border-bottom: 1px solid $white; }
    }
    p { margin: 0; }
    h2 { font-size: em(18); margin: 5px 0; }
}
.footer-col-1,
.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
    max-width: 150px;
}
.footer-col-3,
.footer-col-4 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
}
@include min-media-query($on-ipad) {
  .footer-col {
      float: left;
      padding-left: $spacing-unit / 2;
      margin: 0;
      h2 { font-size: em(32); }
  }
  .footer-col-1 {
      width: -webkit-calc(35% - (#{$spacing-unit} / 2));
      width: calc(35% - (#{$spacing-unit} / 2));
  }
  .footer-col-2 {
      width: -webkit-calc(20% - (#{$spacing-unit} / 2));
      width: calc(20% - (#{$spacing-unit} / 2));
      position: relative;
      bottom: 0;
      @include transition-easy(0.3s);
      &:hover {
        bottom: em(10);
      }
  }
  .footer-col-3 {
      width: -webkit-calc(45% - (#{$spacing-unit} / 2));
      width: calc(45% - (#{$spacing-unit} / 2));
  }
  .footer-col-4 {
      width: -webkit-calc(80% - (#{$spacing-unit} / 2));
      width: calc(80% - (#{$spacing-unit} / 2));
  }
}
/**
 * Page content
 */
.page-content {
  position: relative;
  z-index: 0;
    p {
      font-size: em(20);
      line-height: 1.75em;
    }
    h1, h2 {
      font-size: em(36);
      line-height: 1.5em;
    }
}
.page-heading {
    font-size: em(18);
    &.first-line {
      margin-bottom: 0;
    }
    &.second-line {
        font-size: $base-font-size * 2.25;
        text-shadow: 0 4px 3px rgba(0, 0, 0, 0.03), 0 8px 13px rgba(0, 0, 0, 0.03), 0 4px 0px rgba(0, 0, 0, 0.03);
        margin-bottom: 2rem;
    }
}
.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
.post-link {
    display: block;
    font-size: 24px;
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include max-media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include max-media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include max-media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include max-media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
