/** ========================================= **/
/** Don't forget to design mobile first bud!  **/
/** ========================================= **/

/* - - - - - HOME PAGE - - - - -  */
.home-page {
    background-color: $primary-color;
}
.home {
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
    .home-text {
        position: relative;
        display: table-cell;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        z-index: 0;
        @include min-media-query($on-ipad) {
            font-size: 40px;
            animation: slide-down 1.5s ease forwards;
        }
        @include min-media-query($on-monitor) {
            font-size: 48px;
        }
        .page-heading {
            margin-bottom: 0;
            line-height: 1.1;
            font-family: $josefin-sans;
            // animation: floating 8s $ease-in-out-quad 1.5s infinite;
        }
        .button {
            width: 150px;
            margin-left: auto;
            margin-right: auto;
            @include min-media-query($on-ipad) {
                width: 200px;
            }
            &:hover {
                color: $primary-color;
                &::after {
                    width: 101%;
                    height: 103%;
                    opacity: 1;
                }
            }
            &::after {
                top: 50%;
                left: 50%;
                @include transform(translateX(-50%) translateY(-50%));
            }
        }
    }
}
.popup-container {
    position: fixed;
    bottom: em(10);
    left: 0;
    width: 100%;
}
.pop-up {
    position: absolute;
    bottom: em(80);
    font-size: 12px;
    line-height: rem(16);
    @include transition(all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.1175));
    @include min-media-query($on-ipad) {
        font-size: 16px;
        line-height: 1.5rem;
    }
    @include min-media-query($on-monitor) {
        font-size: 18px;
    }
    &.verse {
        left: 0;
        padding: 1.5em;
        color: $text-color-dark;
        background-color: $white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        @include box-shadow(2px 3px 10px 0 rgba(0,0,0,$box-shadow-opacity));
        &.active-jq {
            left: -999px;
        }
        h4 {
            margin-bottom: $mini-space;
            text-transform: uppercase;
            font-size: em(16);
        }
        p {
            width: 21.875em;
            margin: 0;
        }
        span.close {
            top: $mini-space;
            right: $mini-space;
        }
    }
    &.social-icons {
        right: 20px;
        &.active-jq {
            right: -999px;
        }
        span.close {
            right: 0;
            bottom: 3.25em;
            color: $white;
            background-color: $accent-color;
            @include box-shadow (0px 4px 10px -2px rgba(0,0,0,0.2));
            @include icon-shadow-hover;
        }
    }
    span.close {
        position: absolute;
        padding: 0.5em 0.9em;
        cursor: pointer;
        color: $accent-color;
        border: 3px solid $accent-color;
        @include border-radius(50%);
        @include transition-easy(0.3s);
        &:hover {
            color: $white;
            background-color: $accent-color;
        }
        @include min-media-query($on-ipad) {
            padding: 0.05em 0.6em;
        }
        @include min-media-query($on-monitor) {
            padding: 0.05em 0.5em;
        }
    }
    &.hide {
        display: none;
    }
}
footer.home-footer {
    position: fixed;
    bottom: $body;
    left: 0;
    width: 100%;
    .verse-button {
        position: relative;
        float: left;
        margin-left: 20px;
        &::after {
            left: 0;
        }
    }
    .social-button {
        position: relative;
        float: right;
        margin-right: 20px;
        &::after {
            right: 0;
        }
    }
}

/* - - - - - ABOUT PAGE - - - - -  */
section.about-intro {
    border-bottom: 11px solid $primary-color-dark;
    padding-top: $spacing-unit;
    .intro {
        background-color: $white;
        padding: $spacing-unit;
        color: $text-color-dark;
        margin-left: auto;
        h1 {
          margin-bottom: $spacing-unit / 4;
        }
        p { position: relative; }
        .button {
            display: inline-block;
            margin: em(5) 0;
            &.contact {
                margin-right: $body;
            }
        }
    }
    @include min-media-query($on-ipad) {
        padding-top: 15em;
        .wrapper {
            max-width: calc(1280px - (1.875em * 2));
            position: relative;
            &::before {
                content: "";
                background: url('/img/about/Celtson-Illustration.svg') top center/cover no-repeat;
                height: 540px;
                position: absolute;
                bottom: 0;
                left: -5em;
                width: 500px;
                z-index: 0;
            }
        }
        .intro {
            width: 65%;
        }
    }
}
section.expertise {
    background-color: $white;
    color: $text-color-dark;
    padding: $spacing-unit * 2 0;
    position: relative;
    @include box-shadow(inset 0px 3px 10px -1px rgba(0,0,0,0.3));
    ul {
        list-style-image: url('/img/bullet.gif');
        line-height: 2.5em;
        @include min-media-query($on-ipad) {
            padding-left: $spacing-unit * 3;
            font-size: em(18);
        }
    }
    @include min-media-query($on-ipad) {
        padding: $spacing-unit * 3.5;
    }
    .arrow-down {
        position: absolute;
        bottom: $spacing-unit/2;
        left: 0;
        right: 0;
        text-align: center;
        .fa-circle {
            color: $accent-color;
        }
        .fa-stack {
            animation: bounce 2s 5s 5;
            &:hover {
                animation: none;
                .fa-circle {
                  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07), 0 7px 18px rgba(0, 0, 0, 0.07)
                }

            }
        }
    }
}
section.extra-info {
    background-color: $primary-color-dark;
    color: $text-color-light;
    padding: $spacing-unit * 2 0;
    margin: 0 auto;
    @include box-shadow(0px -3px 10px -1px rgba(0,0,0,0.3));
    h2 {
        font-size: em(40);
        text-align: center;
    }
    p {
        font-size: em(20);
    }
    .pictures {
        text-align: center;
        padding-top: $spacing-unit * 1.5;
        .image-container {
            position: relative;
            text-align: center;
            display: inline-block;
            margin: 0 1em $spacing-unit;
            @include transition-easy(0.3s);
        }
        .image {
            width: 17em;
            height: 17em;
            @include border-radius(50%);
            margin: 0 auto;
            @include box-shadow(0 2px 15px -4px rgba(0, 0, 0, 0.3));
            @include transition-easy(0.3s);
            cursor: pointer;
            overflow: hidden;
            &:hover {
                @include box-shadow(0 4px 20px -2px rgba(0, 0, 0, 0.3));
                @include border-radius(2%);
            }
            &.active + .title,
            &:hover + .title {
                opacity: 1;
            }
        }
        .title {
            position: absolute;
            background-color: white;
            padding: em(15);
            bottom: -3.25em;
            opacity: 0;
            color: $text-color-dark;
            @include box-shadow(0 2px 15px -2px rgba(0, 0, 0, 0.3));
            @include transition-easy(0.3s);
            font-size: em(18);
            max-width: em(300);
            width: 100%;
            z-index: 1;
        }
    }
    @include min-media-query($on-laptop) {
        padding: $spacing-unit * 3.25 0;
        height: 100%;
        // max-height: em(1000);
        .pictures {
            padding-top: $spacing-unit * 2;
        }
    }
}

section.quote {
  min-height: em(450);
  padding: em(150) 1em;
  color: $grey-color-dark;
  .wrapper {
    border-left: em(3) solid $accent-color-2;
  }
  b {
    color: $accent-color-2;
  }
  p {
    font-size: em(26);
    margin-bottom: 0;
  }
  @include min-media-query($on-ipad) {
    font-size: 20px;
    p {
      margin-bottom: $spacing-unit / 2;
    }
  }
  @include min-media-query($on-laptop) {
    font-size: 28px;
    padding: em(150) 0;
  }
}

/* - - - - - PORTFOLIO PAGE - - - - -  */
article.post {
    background-color: $white;
}
.portfolio-info {
    padding-bottom: $spacing-unit * 1.75;
    color: $text-color-dark;
    text-align: center;
    @include transition(all 0.5s ease 0.15s);
    @include transform(translateY(-15%));
    .button {
      max-width: em(170);
      margin: 0 auto;
    }
    .wrapper {
      padding: 0;
    }

    @include min-media-query($on-palm) {
      h2 {
        line-height: em(36);
        margin: 0;
      }
    }
    @include max-media-query($on-finger) {
        font-size: 14px;
    }
}
section.portfolio {
    position: relative;
    padding-bottom: $spacing-unit * 2;
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4%;
        width: 6em;
        opacity: 0;
        @include min-media-query($on-ipad) {
            opacity: 1;
        }
        @include max-media-query($on-palm) {
            display: none;
        }
        @include transition-easy(0.3s);
        &:hover {
            right: 3.5%;
        }
        .fa {
            color: $accent-color;
            border: 2px solid $accent-color;
            padding: 2px 16px 2px 20px;
            @include border-radius(50%);
            &:hover {
                background-color: $accent-color;
                color: $white;
            }
        }
        &.prev {
            left: 4%;
            &:hover {
                left: 3.5%;
            }
            @extend .arrow;
            .fa {
                padding: 2px 20px 2px 16px;
            }
        }
    }
    &:hover .arrow {
        opacity: 1;
    }
}
.portfolio-slider {
    text-align: center;
    padding: $spacing-unit * 2 $spacing-unit;
    position: relative;
    @include transition-easy(0.3s);
    .scroll-me {
      display: none;
      opacity: 0;
      @include transform(rotate(35deg));
      @include min-media-query($on-ipad) {
        display: block;
        position: absolute;
        top: 450px;
        right: 0;
        color: $accent-color-2;
        animation: fade-in 10s 1.5s ease, scroll-me 2s ease 5;
      }
      @include min-media-query($on-laptop) {
        top: 550px;
      }
      p { margin: 0; }
    }
    &.wrapper {
        @include min-media-query($on-laptop) {
            max-width: calc(1280px - (1.875em * 2));
        }
    }
    .portfolio-image {
        .desktop-image {
            margin-right: $spacing-unit;
            max-height: 390px;
            overflow-y: hidden;
            padding: 0;
            @include box-shadow(0px 6px 25px 0px rgba(0, 0, 0, 0.3));
            @include max-media-query($on-finger) {
                margin-right: $spacing-unit * 2.5;
                max-height: 220px;
            }
            @include min-media-query($on-palm) {
                margin-right: $spacing-unit * 2.5;
                max-height: 630px;
            }
            @include min-media-query($on-ipad) {
                margin-right: $spacing-unit * 4;
                overflow-y: auto;
            }
            @include min-media-query($on-laptop) {
                margin-right: $spacing-unit * 4;
                max-height: 990px;
            }
        }
        .mobile-image {
            @include box-shadow(0px 6px 25px 0px rgba(0, 0, 0, 0.3));
            position: absolute;
            bottom: -2em;
            right: em(30);
            width: 8em;
            max-height: 15em;
            overflow-y: hidden;
            @include transition(all 0.5s $ease-out-back 0.165s);
            &.show-item {
              right: 0;
            }
            @include min-media-query ($on-palm) {
                bottom: 1.5em;
                font-size: 26px;
            }
            @include min-media-query ($on-ipad) {
                font-size: 32px;
                overflow-y: auto;
            }
            @include min-media-query ($on-laptop) {
                font-size: 46px;
            }
        }
    }
}
section.portfolio-items {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  @include transform( scale(0));
  @include transition-easy(0.5s);
  &.show-item {
      position: relative;
      @include transform( scale(1));
      opacity: 1;
      .portfolio-info {
        @include transform(translateY(0));
      }
  }
}
.dots {
    text-align: center;
    padding-bottom: $spacing-unit;
    .fa {
        cursor: pointer;
        color: $text-color-light;
        &:hover {
            color: darken($text-color-light, 10%);
        }
    }
}
.portfolio-footer {
    padding-bottom: $spacing-unit;
    .button {
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
}
// Extra Portfolio Items
.portfolio-all {
  padding: $spacing-unit 0;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  @include min-media-query($on-ipad) {
    padding: $spacing-unit;
  }
  // .wrapper {
  //     @include min-media-query($on-ipad) {
  //         max-width: calc(1280px - (1.875em * 2));
  //     }
  // }
  .half-col {
      padding: $spacing-unit / 2;
      @include max-media-query(850px) {
          width: 100%;
      }
      @include media-query(850px, 1500px) {
          &:nth-of-type(2n + 1) {
            clear: both;
          }
      }
      @include media-query(1500px, $on-monitor) {
          width: 33.3333%;
          &:nth-of-type(3n + 4) {
            clear: both;
          }
      }
      @include min-media-query($on-monitor) {
          width: 25%;
          &:nth-of-type(4n + 5) {
            clear: both;
          }
      }
  }
  .col-1-3 {
    padding: $spacing-unit / 2;
    @include max-media-query($on-ipad) {
        width: 100%;
    }
  }
  .items {
      background-color: $white;
      position: relative;
      color: $text-color-dark;
      bottom: 0;
      @include box-shadow(0px 0px 18px -5px rgba(0,0,0, $box-shadow-opacity));
      @include transition-easy(0.3s);
      &:hover {
        bottom: $spacing-unit / 3;
        @include box-shadow(0px 5px 30px -5px rgba(0,0,0, $box-shadow-opacity));
          &::after {
              opacity: 1;
          }
          .item-info {
              opacity: 1;
              z-index: 1;
          }
      }
      &::after {
          content: "";
          background-color: $white;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          @include transition-easy(0.3s);
      }
      .item-info {
          @include transition-easy(0.2s);
          opacity: 0;
          position: absolute;
          text-align: center;
          width: 100%;
          top: 50%;
          padding: 0 $spacing-unit;
          @include transform(translateY(-50%));
          .button {
            max-width: em(170);
            margin: 0 auto;
            font-size: em(12);
          }
          h1 {
            font-size: em(24);
            margin-bottom: em(10);
          }
          p {
            font-size: em(12);
            @include max-media-query($on-finger) {
              overflow: hidden;
              height: 7em;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
            }
          }
          @include min-media-query(550px) {
            font-size: 26px;
          }
          @include min-media-query($on-ipad) {
            font-size: 20px;
          }
      }
  }
}

/* - - - - - RESUME TEMPLATE - - - - -  */
.resume-section { @include box-shadow(0px 0px 10px 1px rgba(0,0,0,0.2)); }
.modal-window {
    position: fixed;
    opacity: 0;
    /* Hides the modal window by default */
    z-index: 3;
    width: 100%;
    height: 100vh;
    background: $primary-color-dark;
    top: 0;
    left: -9999px;
    max-width: 1200px;
    margin: 0 auto;
    @include transition(all 0.4s $ease-in-out-back);
    .resume-header {
        // background-color: $primary-color-dark;
        color: $white;
        position: relative;
        .site-title {
            padding: 0 5%;
            line-height: 2.5em;
        }
        a.close-resume {
            position: absolute;
            top: 40px;
            right: 5%;
            max-width: 40px;
            @include transition-easy(0.3s);
            &:hover {
                @include transform(rotate(180deg));
            }
        }
    }
    .content {
        overflow: auto;
        height: calc(100% - 232px);
        padding: 0 5%;
        color: $white;
        h2 {
            color: $white;
            font-weight: $light-font-weight;
            font-size: em(20);
            text-transform: uppercase;
            @include min-media-query($on-palm) {
                text-align: right;
                padding-right: $spacing-unit;
            }
        }
        .content-section {
            padding: 5em 0;
            border-bottom: 1px solid $white;
            ul.expertise {
                float: left;
                list-style-type: none;
                width: 50%;
                padding: 0;
                // li:first-of-type {
                //     font-size: em(20);
                //     font-weight: normal;
                //     margin-bottom: em(8);
                // }
            }
            .experiences {
                h3 {
                    margin: 0;
                }
                span {
                    font-size: em(18);
                }
                ul {
                    list-style-image: url("/img/bullet.gif");
                }
            }
            &:last-of-type {
                border: none;
            }
            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
    .resume-footer {
        padding: 2.2em;
        .button {
            width: 210px;
            margin: 0 auto;
            color: $white;
            &:hover {
                color: $primary-color-dark;
                background-color: $white;
            }
            &::after { display: none; }
        }
    }
}
.modal-show {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
}
.modal-cover {
    background-color: black;
    opacity: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
    @include transition-easy(0.3s);
    &.modal-background {
        opacity: 0.5;
        z-index: 1;
    }
    &.countdown {
      opacity: 0.9;
    }
}

/* - - - - - COUNTDOWN TEMPLATE - - - - -  */
.open-countdown {
  position: fixed;
  top: 1.5625rem;
  right: 1.875rem;
  width: 30px;
  @include transition(transform 0.3s, left 0s 0s, opacity 0.3s 0s);
  &.hidden {
    left: -9999px;
    opacity: 0;
    @include transition(left 0s 0.3s, opacity 0.3s 0s);
  }
  &:hover {
    @include transform(rotate(40deg));
  }
}

.countdown-section {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  @include transition(left 0s 0s, opacity 0.3s 0s);
  &.hidden-countdown {
    left: -9999px;
    opacity: 0;
    @include transition(left 0s 0.3s, opacity 0.3s 0s);
  }
}

a.close-countdown {
  width: 30px;
  position: absolute;
  top: 1.5625rem;
  right: 1.875rem;
  @include transition-easy(0.3s);
  &:hover {
      @include transform(scale(1.1));
  }
}

.clockdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-size: 8px;
  @include min-media-query($on-ipad){
    font-size: 15px;
  }
  @include min-media-query($on-laptop){
    font-size: 20px;
  }
  h2 {
    font-size: 3em;
    text-align: center;
    color: $primary-color-light;
    line-height: $base-line-height;
  }
  .clockdiv_cont {
    display: inline-grid;
    text-align: center;
    margin-left: $spacing-unit / 1.5;
    margin-right: $spacing-unit / 1.5;
  }
  .days, .hours, .minutes, .seconds {
    font-size: 6em;
    line-height: 1em;
  }
  .smalltext {
    margin: 0;
    font-size: 2em;
    color: $primary-color-light;
  }
}

/* - - - - - 404 ERROR PAGE - - - - -  */
.error-page {
  background-color: $white;
  color: $primary-color;
  padding-top: $spacing-unit * 2.5;
  text-align: center;
  a {
    border-bottom: 1px solid $white;
    @include transition-easy(0.3s);
    color: $primary-color-dark;
    &:hover { border-bottom: 1px solid $primary-color-dark; }
  }
  .img-wrap {
    max-width: 500px;
    margin: 0 auto;
  }
}
