/** ========================================= **/
/** Don't forget to design mobile first bud!  **/
/** ========================================= **/

/* - - - - - HOME PAGE - - - - -  */
.home-page {
    .home.page-content {
        display: table;
        width: 100%;
        min-height: 96vh;
        padding: 0;

        .home-text {
            position: relative;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            animation: slide-down 2s ease forwards;
            .page-heading {
                margin-bottom: 0;
                line-height: 1.1;
            }
            .button {
                width: 115px;
                margin: 1em auto;
                @include min-media-query($on-ipad) {
                  width: 150px;
                }
            }
        }
    }
    footer {
        position: absolute;
        bottom: 1em;
        width: 100%;
        .verse {
            float: left;
            margin-left: 20px;
        }
        .find-me {
            float: right;
            margin-right: 20px;
        }
    }
}
