---
layout: default
---
<article class="post">

  <section class="portfolio">

    <div class="portfolio-slider wrapper">

      <a href="/portfolio"> <strong>&lt; Back</strong> </a>

      <section class="portfolio-items show-item">
        <div class="portfolio-info">
          <h2 class="text-center">Lifeway.com Cart Dropdown</h2>
          <p class="text-center"><strong>Skills:</strong> UI Development & Design, UX Design</p>
          <h3><strong>Problem</strong></h3>
          <p>Users’ inability to see items they’ve added to their cart on any page throughout the site. The only way to see cart items is to go to the
            actual cart page which can lower engagement and slow down buyer’s transaction time.</p>
          <h3><strong>Goal</strong></h3>
          <p>To give our users the ability to view their cart items anywhere they are on the site, without hindering the buying process. This update would include interaction
            capabilities and not only visual/informative. The user will have the ability to add and subtract quantities, and remove an item from cart as needed.</p>
          <h3><strong>Result</strong></h3>
          <p>A nice hover view that elegantly presents their most recent cart additions. This dropdown greatly enhanced the user experience and provided a more quick and
            efficient way for the user to engage the site. </p>
        </div>

        <div class="portfolio-image">
          <div class="desktop-image">
            <img src="/img/portfolio/biblestudiesforlife.jpg" alt="Bible Studies For Life" height="990" width="1040" />
          </div>
          <div class="mobile-image">
            <img src="/img/portfolio/biblestudiesforlife-mobile.jpg" alt="Bible Studies For Life Mobile" height="128" width="374" />
          </div>
        </div>
      </section>

    </div>
    <!-- end portfolio-slider -->

  </section>
  <!--end portfolio -->

</article>