---
layout: default
---
<article class="post">

  <section class="portfolio">

    <div class="portfolio-slider wrapper">

      <a class="back-link" href="/portfolio"> <strong>&lt; Back</strong> </a>

      <section class="portfolio-items show-item">
        <div class="portfolio-info">
          <h2 class="text-center">Lifeway.com Product Grid Quickview</h2>
          <p class="text-center"><strong>Skills:</strong> UI Development & Design, UX Design</p>
          <h3><strong>Problem</strong></h3>
          <p>No way for a user to quicky and efficiently view a product’s details without interfering with their shopping experience.</p>
          <h3><strong>Goal</strong></h3>
          <p>Give users the ability to quickly view details of a product from the product grid without being directed to the product detail page.
            The objectives were customer conversions and user interaction.</p>
          <h3><strong>Result</strong></h3>
          <p>An easy and efficient way to allow a user to quickly view product details without hindering their shopping experience. Working closely with our Adobe Analytics & Adobe
            Target specialist, the design was found to increase overall customer interaction, resulting in increased revenue. Users wanted to use the design and it only encouraged
            more purchases overall.</p>
        </div>

        <div class="portfolio-image">
          <img src="/img/portfolio/quickview-full.jpg" />
        </div>
      </section>

    </div>
    <!-- end portfolio-slider -->

  </section>
  <!--end portfolio -->

</article>