---
layout: default
---
<article class="post">

  <section class="about-intro">
    <div class="wrapper">
      <div class="intro">
        <h1>Who is Celtson?</h1>
        <p>I am an extremely happy and energetic individual, always trying to find the fun - and sometimes sarcasm - in a situation. I love to smile and laugh and have a good time. I absolutely love people and interacting with them and have a
          passion for numerous activities, including web delopment and design.</p>
        <div class="button-group">
          <a href="#site-footer" class="button accent contact">Contact Me</a>
          <a href="#" name="resume-modal" class="button accent-2">Resume</a>
        </div>
      </div>
    </div>
  </section>

  <section class="expertise">
    <div class="wrapper">
      <h2>Expertise</h2>
      <ul class="half-col">
        <li>UI/UX Design</li>
        <li>UI/UX Development</li>
        <li>Prototyping (Adobe XD)</li>
        <li>Responsive Web Development / Design</li>
        <li>Mobile First Development</li>
      </ul>
      <ul class="half-col">
        <li>CMS Management (WordPress)</li>
        <li>Design (Adobe XD, Photoshop, Illustrator, InDesign)</li>
        <li>Cross Browser Compatability</li>
        <li>SVN (Github, Cornerstone)</li>
        <li>Testing (Adobe Target)</li>
      </ul>
    </div>
  </section>

  <section class="extra-info" id="extra-info">
    <div class="wrapper">
      <h2>More About Me</h2>
      <p>I've been living in The United States for about 10 years now. During those
        10 years, UX design & development has slowly but strongly crept up as one of my top
        passions in life. I work at LifeWay Christian Resources located downtown
        of the music city Nashville. Love my job and love the people I work with.
        In the last few years I became a remote worker for LifeWay and moved to Mount Joy,
        PA with the love of my life and wife, Lauren 😊. Now we have a beautiful baby girl, Nora, who is
        just such a joy.
      </p>
      <p>Entangled with my passion for design and code lies a few other passions.
        I crave music and the beauty of it &ndash; which is why I was originally
        pulled to Nashville &ndash; and take advantage of any opportunity I encounter to better myself.</p>
      <p>Sports and I have been best buddies for quite some time now. Gives me
        a hard time with injuries once in a while, but my love for it will never die. </p>
    </div>
    <div class="pictures">
      <div class="image-container image-1">
        <div class="image"><img alt="Celtson in The Bahamas" src="/img/about/bahamas.jpg"></div>
        <div class="title">Yes, I am from the Bahamas 😁</div>
      </div>
      <div class="image-container image-2">
        <div class="image"><img alt="Celtson and Lauren" src="/img/about/family.jpg"></div>
        <div class="title">Me and my beautiful girls 🥰</div>
      </div>
      <div class="image-container image-3">
        <div class="image"><img alt="Celtson Singing" src="/img/about/music.jpg"></div>
        <div class="title">I absolutely LOVE music!</div>
      </div>
      <div class="image-container image-4">
        <div class="image"><img alt="Celtson Playing Volleyball" src="/img/about/sports.jpg"></div>
        <div class="title">Volleyball will always be my go to sport!</div>
      </div>

    </div>
  </section>

  <section class="quote">
    <div class="wrapper">
      <p>"Living <b>for</b> love & acceptance is living in slavery; living <b>from</b> love & acceptance is living in freedom."</p>
      <span> - Pete Wilson </span>
    </div>
  </section>

</article>