---
layout: default
---
<article class="post">

    <section class="about-intro">
      <div class="wrapper">
        <div class="intro">
          <h1>Who is Celtson?</h1>
          <p>Lorem ipsum dolor sit amet, eu impedit sapientem ius, ad mel animal honestatis, id vis minim viris. Ut aliquando temporibus ius, nec an ludus definitionem, nam in aperiam corrumpit philosophia. Ullum torquatos id vim, has at tritani vocibus.</p>
          <div class="button-group">
            <a href="mailto:celtson@gmail.com" class="button accent contact">Contact Me</a>
            <a href="#" name="resume-modal" class="button accent-2">Resume</a>
          </div>
        </div>
      </div>
    </section>

    <section class="expertise">
      <div class="wrapper">
        <h2>Expertise</h2>
        <ul class="half-col">
          <li>Design (Photoshop, Illustrator, InDesign)</li>
          <li>Front-End Development</li>
          <li>CMS Management (WordPress)</li>
          <li>UX Development/Design</li>
        </ul>
        <ul class="half-col">
          <li>Mobile First Development</li>
          <li>Responsive Web Development / Design</li>
          <li>Cross Browser Compatability</li>
          <li>SVN (Github, Cornerstone)</li>
        </ul>
        <div class="hide-on-palm arrow-down">
          <a href="#extra-info">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-chevron-down fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>
    </section>

    <section class="extra-info" id="extra-info">
      <div class="wrapper">
        <h2>More About Me</h2>
        <p>Lorem ipsum dolor sit amet, eu impedit sapientem ius, ad mel animal honestatis, id vis minim viris. Ut aliquando temporibus ius, nec an ludus definitionem, nam in aperiam corrumpit philosophia. Ullum torquatos id vim, has at tritani vocibus. Duo ne dicunt accusam, ipsum appareat per ea. Duo suscipit verterem eu, ne eum munere adipiscing, est reque lorem ocurreret ex.</p>
        <p>Lorem ipsum dolor sit amet, eu impedit sapientem ius, ad mel animal honestatis, id vis minim viris. Ut aliquando temporibus ius, nec an ludus definitionem, nam in aperiam corrumpit philosophia. Ullum torquatos id vim, has at tritani vocibus. Duo ne dicunt accusam, ipsum appareat per ea. Duo suscipit verterem eu, ne eum munere adipiscing, est reque lorem ocurreret ex.</p>
      </div>
      <div class="pictures">
        <div class="image-container image-1">
          <div class="image"><img alt="Celtson in The Bahamas" src="/img/about/bahamas.jpg"></div>
          <div class="title">Yes, I am from the Bahamas :)</div>
        </div>
        <div class="image-container image-2">
          <div class="image"><img alt="Celtson Playing Guitar" src="/img/about/guitar.jpg"></div>
          <div class="title">I absolutely LOVE music!</div>
        </div>
        <div class="image-container image-3">
          <div class="image"><img alt="Celtson Playing Golf" src="/img/about/golf.jpg"></div>
          <div class="title">Not the best at golf, but sports are my go to.</div>
        </div>
      </div>
    </section>

    <section class="quote">
      <div class="wrapper">
        <p>"Living <b>for</b> love & acceptance is living in slavery; living <b>from</b> love & acceptance is living in freedom."</p>
        <span> - Pete Wilson </span>
      </div>
    </section>

</article>
