---
layout: default
---
<article class="post">

    <section class="about-intro">
      <div class="wrapper">
        <div class="intro">
          <h1>Who is Celtson?</h1>
          <p>I am an extremely happy and energetic individual despite the picture to the left. I love to smile and laugh and have a good time. (Seriously I am not sure why that picture is there.) I absolutely love people and interacting with them and have a passion for numerous activities, including web delopment and design.</p>
          <div class="button-group">
            <a href="mailto:celtson@gmail.com" class="button accent contact">Contact Me</a>
            <a href="#" name="resume-modal" class="button accent-2">Resume</a>
          </div>
        </div>
      </div>
    </section>

    <section class="expertise">
      <div class="wrapper">
        <h2>Expertise</h2>
        <ul class="half-col">
          <li>Design (Photoshop, Illustrator, InDesign)</li>
          <li>Front-End Development</li>
          <li>CMS Management (WordPress)</li>
          <li>UX Development/Design</li>
        </ul>
        <ul class="half-col">
          <li>Mobile First Development</li>
          <li>Responsive Web Development / Design</li>
          <li>Cross Browser Compatability</li>
          <li>SVN (Github, Cornerstone)</li>
        </ul>
        <div class="hide-on-palm arrow-down">
          <a href="#extra-info">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-chevron-down fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>
    </section>

    <section class="extra-info" id="extra-info">
      <div class="wrapper">
        <h2>More About Me</h2>
        <p>I've been living in The United States for about 5 years now. During those 5 years, UX development has slowly but strongly crept up as one of my top passions in life. I work at LifeWay Christian Resources located downtown of the music city Nashville. Love my job and love the people I work with.</p>
        <p>Entangled with my passion for design and code lies a few other passions. I crave music and the beauty of it &ndash; which is why I am in Nashville &ndash; and take advantage of any opportunity I encounter to better myself.</p>
        <p>Sports and I have been best buddies for quite some time now. Gives me a hard time with injuries once in a while, but my love for it will never die. </p>
      </div>
      <div class="pictures">
        <div class="image-container image-1">
          <div class="image"><img alt="Celtson in The Bahamas" src="/img/about/bahamas.jpg"></div>
          <div class="title">Yes, I am from the Bahamas :)</div>
        </div>
        <div class="image-container image-2">
          <div class="image"><img alt="Celtson Playing Guitar" src="/img/about/guitar.jpg"></div>
          <div class="title">I absolutely LOVE music!</div>
        </div>
        <div class="image-container image-3">
          <div class="image"><img alt="Celtson Playing Golf" src="/img/about/golf.jpg"></div>
          <div class="title">Not the best at golf, but sports are my go to.</div>
        </div>
      </div>
    </section>

    <section class="quote">
      <div class="wrapper">
        <p>"Living <b>for</b> love & acceptance is living in slavery; living <b>from</b> love & acceptance is living in freedom."</p>
        <span> - Pete Wilson </span>
      </div>
    </section>

</article>
