<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- For the opacity fade-in on page load -->
    <script>document.body.className += 'fade-out';</script>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>
    {% include resume.html %}

    {% include footer.html %}

    <script>
      function downloadJSAtOnload() {
      var element = document.createElement("script");
      element.src = "/js/defer.js";
      document.body.appendChild(element);
      }
      if (window.addEventListener)
      window.addEventListener("load", downloadJSAtOnload, false);
      else if (window.attachEvent)
      window.attachEvent("onload", downloadJSAtOnload);
      else window.onload = downloadJSAtOnload;
    </script>
  </body>
  <!-- <div class="layover enter"></div> -->

</html>
