<!DOCTYPE html>
<html>

{% include head.html %}

<body class="home-page">

    <header>

        <nav class="site-nav">
            <a href="#" class="icon menu-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="29" height="24" viewBox="0 0 29 24">
                <g id="menu-icon">
                  <rect id="rect-1" class="nav" y="10" width="29" height="3"/>
                  <rect id="rect-2" class="nav" y="20" width="29" height="3"/>
                  <rect id="rect-3" class="nav" width="29" height="3"/>
                </g>
              </svg>

            </a>

            <div class="trigger">
                {% for my_page in site.pages %} {% if my_page.title %}
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a> {% endif %} {% endfor %}
            </div>
        </nav>

    </header>

    <div class="home page-content">
        {{ content }}
    </div>

    <footer>
      <div class="verse">
        <div class="pop-up">
          <span class="close">x</span>
          <h4>Proverbs 14:26</h4>
          <p>In the fear of The Lord is strong confidence; His children shall have a place of refuge.</p>
        </div>
        <div class="transparent button">Verse</div>
      </div>
      <div class="find-me">
        <div class="transparent button">Find Me</div>
      </div>
    </footer>

</body>

</html>
