<!DOCTYPE html>
<html>

{% include head.html %}

<body class="home-page">
  <!-- For the opacity fade-in on page load -->
  <script>document.body.className += ' fade-out';</script>

  {{ content }}

  <script>
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/js/defer.js";
    document.body.appendChild(element);
    }
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
  </script>
</body>

</html>
