---
layout: default
---
<article class="post">
  <div class="portfolio-all">
    <div class="half-col">
      <div class="items">
        <div class="item-info">
          <h1>SmallGroup</h1>
          <a href="http://home.smallgroup.com/" target="_blank" rel="noopener noreferrer nofollow" class="button accent">See Full Site</a>
        </div>
        <img src="/img/portfolio-thumbs/smallgroup-thumb.jpg" alt="LifeWay SmallGroup - Celtson Portfolio" height="358" width="312">
      </div>
    </div>
    <div class="half-col">
      <div class="items">
        <div class="item-info">
          <h1>The Prince Warriors</h1>
          <a href="https://theprincewarriors.com/" target="_blank" rel="noopener noreferrer nofollow" class="button accent">See Full Site</a>
        </div>
        <img src="/img/portfolio-thumbs/prince-warriors-thumb.jpg" atl="The Prince Warriors - Celtson Portfolio" height="358" width="312">
      </div>
    </div>
    <div class="half-col">
      <div class="items">
        <div class="item-info">
          <h1>Go and Tell Simulcast</h1>
          <a href="https://lifeway.simulcast.s3.amazonaws.com/production/005799186/stream/index.html" target="_blank" rel="noopener noreferrer nofollow" class="button accent">See Full Site</a>
        </div>
        <img src="/img/portfolio-thumbs/go-and-tell-thumb.jpg" alt="Go and Tell Simulcast - Celtson Portfolio" height="358" width="312">
      </div>
    </div>
    <div class="half-col">
      <div class="items">
        <div class="item-info">
          <h1>Biblia del Pescador</h1>
          <a href="https://www.bibliadelpescador.com/" target="_blank" rel="noopener noreferrer nofollow" class="button accent">See Full Site</a>
        </div>
        <img src="/img/portfolio-thumbs/bibliadelpescador-thumb.jpg" alt="Biblia del Pescador - Celtson Portfolio" height="358" width="312">
      </div>
    </div>
    <div class="half-col">
      <div class="items">
        <div class="item-info">
          <h1>LifeWay Newsroom</h1>
          <a href="https://blog.lifeway.com/newsroom/" target="_blank" rel="noopener noreferrer nofollow" class="button accent">See Full Site</a>
        </div>
        <img src="/img/portfolio-thumbs/lifeway-newsroom-thumb.jpg" alt="Lifeway Newsroom - Celtson Portfolio" height="358" width="312">
      </div>
    </div>
    <div class="half-col">
      <div class="items">
        <div class="item-info">
          <h1>Biblia de Apuntes</h1>
          <a href="https://bibliadeapuntes.com/" target="_blank" rel="noopener noreferrer nofollow" class="button accent">See Full Site</a>
        </div>
        <img src="/img/portfolio-thumbs/Biblia-de-Apuntes-thumb.jpg" alt="Biblia de Apuntes - Celtson Portfolio" height="358" width="312">
      </div>
    </div>
    <div class="half-col">
      <div class="items">
        <div class="item-info">
          <h1>Bible Studies For Life</h1>
          <a href="https://biblestudiesforlife.com/" target="_blank" rel="noopener noreferrer nofollow" class="button accent">See Full Site</a>
        </div>
        <img src="/img/portfolio-thumbs/biblestudiesforlife-thumb.jpg" alt="Bible Studies For Life - Celtson Portfolio" height="358" width="312">
      </div>
    </div>
    <div class="half-col">
      <div class="items">
        <div class="item-info">
          <h1>LifeWay Digital</h1>
          <a href="https://lifewaydigital.com/" target="_blank" rel="noopener noreferrer nofollow" class="button accent">See Full Site</a>
        </div>
        <img src="/img/portfolio-thumbs/lifewaydigital-thumb.jpg" atl="LifeWay Digital - Celtson Portfolio" height="358" width="312">
      </div>
    </div>
  </div>
  <div class="portfolio-footer">
    <a href="/portfolio/" class="button accent">Main Portfolio</a>
  </div>
</article>