---
layout: default
---
<article class="post">

    <section class="portfolio">

        <div class="portfolio-slider wrapper">

            <section class="portfolio-items portfolio-1 show-item">
                <div class="portfolio-info">
                    <div class="wrapper">
                        <h2>The Prince Warriors</h2>
                        <p>Lorem ipsum dolor sit amet, eu impedit sapientem ius, ad mel animal honestatis, id vis minim viris. Ut aliquando temporibus ius, nec an ludus definitionem, nam in aperiam corrumpit philosophia. Ullum torquatos id vim, has at tritani vocibus. Duo ne dicunt accusam, ipsum appareat per ea. Duo suscipit verterem eu, ne eum munere adipiscing, est reque lorem ocurreret ex.</p>
                        <a href="http://theprincewarriors.com/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                    </div>
                </div>
                <div class="portfolio-image">
                    <div class="desktop-image">
                        <img src="/img/portfolio/Prince-Warriors.jpg" alt="The Prince Warriors Desktop Version" />
                    </div>
                    <div class="mobile-image">
                        <img src="/img/portfolio/prince-warriors-mobile.jpeg" alt="The Prince Warriors Mobile Version" />
                    </div>
                </div>
            </section>

            <section class="portfolio-items portfolio-2">
                <div class="portfolio-info">
                    <div class="wrapper">
                        <h2>Levels of Biblical Learning</h2>
                        <p>Lorem ipsum dolor sit amet, eu impedit sapientem ius, ad mel animal honestatis, id vis minim viris. Ut aliquando temporibus ius, nec an ludus definitionem, nam in aperiam corrumpit philosophia. Ullum torquatos id vim, has at tritani vocibus. Duo ne dicunt accusam, ipsum appareat per ea. Duo suscipit verterem eu, ne eum munere adipiscing, est reque lorem ocurreret ex.</p>
                        <a href="http://www.lifeway.com/n/special-emphasis/levels-of-biblical-learning" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                    </div>
                </div>
                <div class="portfolio-image">
                    <div class="desktop-image">
                        <img src="/img/portfolio/lobl.jpg" alt="LifeWay Levels of Biblical Learning Desktop Version" />
                    </div>
                    <div class="mobile-image">
                        <img src="/img/portfolio/lobl-mobile.jpg" alt="LifeWay Levels of Biblical Learning Mobile Version" />
                    </div>
                </div>
            </section>

            <section class="portfolio-items portfolio-3">
                <div class="portfolio-info">
                    <div class="wrapper">
                        <h2>Lecrae Unashamed Simulcast</h2>
                        <p>Lorem ipsum dolor sit amet, eu impedit sapientem ius, ad mel animal honestatis, id vis minim viris. Ut aliquando temporibus ius, nec an ludus definitionem, nam in aperiam corrumpit philosophia. Ullum torquatos id vim, has at tritani vocibus. Duo ne dicunt accusam, ipsum appareat per ea. Duo suscipit verterem eu, ne eum munere adipiscing, est reque lorem ocurreret ex.</p>
                        <a href="http://live.unashamedbook.com/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                    </div>
                </div>
                <div class="portfolio-image">
                    <div class="desktop-image">
                        <img src="/img/portfolio/unashamed-book.jpg" alt="Lecrae Unashamed Book Desktop Version" />
                    </div>
                    <div class="mobile-image">
                        <img src="/img/portfolio/unashamed-book-mobile.jpg" alt="Lecrae Unashamed Book Mobile Version" />
                    </div>
                </div>
            </section>

        </div>
        <!-- end portfolio-slider -->

        <div class="dots">
            <span class="fa-stack" data-number="1">
          <i class="fa fa-circle fa-active"></i>
        </span>
            <span class="fa-stack" data-number="2">
          <i class="fa fa-circle"></i>
        </span>
            <span class="fa-stack" data-number="3">
          <i class="fa fa-circle"></i>
        </span>
        </div>

        <div class="portfolio-footer wrapper">
            <a href="/portfolio/all" class="button accent">
                See More
            </a>
        </div>
        <a class="arrow prev" href="#">
            <span class="fa-stack fa-3x">
          <i class="fa fa-angle-left"></i>
        </span>
        </a>
        <a class="arrow next" href="#">
            <span class="fa-stack fa-3x">
          <i class="fa fa-angle-right"></i>
        </span>
        </a>

    </section>
    <!--end portfolio -->

</article>
