---
layout: default
---
<article class="post">

    <section class="portfolio">

        <div class="portfolio-slider wrapper">

            <section class="portfolio-items portfolio-1 show-item">
                <div class="portfolio-info">
                    <div class="wrapper">
                        <h2>The Prince Warriors</h2>
                        <p>The Prince Warriors is one of the first websites I knocked out that started from the beginning stages. I had the opportunity to flesh out wireframes based off of a small amount of information given. I later turned the wireframes into a design and the design into a functional WordPress site. The website focuses on the author Priscilla Shirer's new book series, <em>The Prince Warriors</em>. It elegantly lays out the books on the home page and dives deeper into each book's details as the user flows through the site. </p>
                        <a href="http://theprincewarriors.com/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                    </div>
                </div>
                <div class="portfolio-image">
                    <div class="desktop-image">
                        <img src="/img/portfolio/Prince-Warriors.jpg" alt="The Prince Warriors Desktop Version" height="262" width="252" />
                    </div>
                    <div class="mobile-image">
                        <img src="/img/portfolio/prince-warriors-mobile.jpeg" alt="The Prince Warriors Mobile Version" height="128" width="447" />
                    </div>
                </div>
            </section>

            <section class="portfolio-items portfolio-2">
                <div class="portfolio-info">
                    <div class="wrapper">
                        <h2>Levels of Biblical Learning</h2>
                        <p>The Levels of Biblical Learning was a fun one to work on considering I did not have to bother with a Content Management system. <a href="http://brandonwoodall.com/" target="_blank" rel="noopener noreferrer">Brandon Woodall</a>, my remarkable co-worker designed the site, after which, I produced the HTML, CSS, and jQuery to make his design come to life. This site digitally lays out biblical concepts presented through six different age ranges, from infancy through the preteen years.</p>
                        <a href="http://www.lifeway.com/n/special-emphasis/levels-of-biblical-learning" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                    </div>
                </div>
                <div class="portfolio-image">
                    <div class="desktop-image">
                        <img src="/img/portfolio/lobl.jpg" alt="LifeWay Levels of Biblical Learning Desktop Version" height="295" width="571"/>
                    </div>
                    <div class="mobile-image">
                        <img src="/img/portfolio/lobl-mobile.jpg" alt="LifeWay Levels of Biblical Learning Mobile Version" height="128" width="961" />
                    </div>
                </div>
            </section>

            <section class="portfolio-items portfolio-3">
                <div class="portfolio-info">
                    <div class="wrapper">
                        <h2>Lecrae Unashamed Simulcast</h2>
                        <p>Unashamed is a new book written by the music artist Lecrae. This website was created to support an event Lecrae held to promote the publishing of his book. The design had to be simple and clean and imitate the feel of the original unashamed book site: <a href="http://unashamedbook.com/" target="_blank" rel="noopener noreferrer">unashamedbook.com</a>.</p>
                        <a href="http://live.unashamedbook.com/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                    </div>
                </div>
                <div class="portfolio-image">
                    <div class="desktop-image">
                        <img src="/img/portfolio/unashamed-book.jpg" alt="Lecrae Unashamed Book Desktop Version" height="295" width="298" />
                    </div>
                    <div class="mobile-image">
                        <img src="/img/portfolio/unashamed-book-mobile.jpg" alt="Lecrae Unashamed Book Mobile Version" height="128" width="374" />
                    </div>
                </div>
            </section>

            <div class="scroll-me" id="scroll-me">
                <p>Scroll Me</p>
                <span class="fa-3x">
                  <i class="fa fa-chevron-down fa-active"></i>
                </span>
            </div>

        </div>
        <!-- end portfolio-slider -->

        <div class="dots">
            <span class="fa-stack" data-number="1">
          <i class="fa fa-circle fa-active"></i>
        </span>
            <span class="fa-stack" data-number="2">
          <i class="fa fa-circle"></i>
        </span>
            <span class="fa-stack" data-number="3">
          <i class="fa fa-circle"></i>
        </span>
        </div>

        <div class="portfolio-footer wrapper">
            <a href="/portfolio/all" class="button accent">
                See More
            </a>
        </div>
        <a class="arrow prev" href="#">
            <span class="fa-stack fa-3x">
          <i class="fa fa-angle-left"></i>
        </span>
        </a>
        <a class="arrow next" href="#">
            <span class="fa-stack fa-3x">
          <i class="fa fa-angle-right"></i>
        </span>
        </a>

    </section>
    <!--end portfolio -->

</article>
