---
layout: default
---
<article class="post">
    <div class="portfolio-all">
        <div class=" wrapper">
            <div class="half-col">
              <div class="items">
                <div class="item-info">
                  <h1>LifeWay Newsroom</h1>
                  <p>LifeWay Newsroom was redesigned by <a href="http://jcroasdaile.com/" target="_blank" rel="noopener noreferrer">Joseph Croasdaile</a> and developed by myself using WordPress. It is the online hub for all news concerning LifeWay and channels all related media inquiries.</p>
                  <a href="http://blog.lifeway.com/newsroom/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                </div>
                <img src="/img/portfolio-thumbs/lifeway-newsroom-thumb.jpg" alt="Lifeway Newsroom - Celtson Portfolio" height="358" width="312">
              </div>
            </div>
            <div class="half-col">
              <div class="items">
                <div class="item-info">
                  <h1>SmallGroup</h1>
                  <p>SmallGroup was a fun project because it allowed me to work with the CMS, WordPress for the first time. I was able to develop the website in a way that allowed my client to easily make changes in the future without concern. It was a project that required a lot of discussion and communication.</p>
                  <a href="http://home.smallgroup.com/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                </div>
                <img src="/img/portfolio-thumbs/smallgroup-thumb.jpg" alt="LifeWay SmallGroup - Celtson Portfolio" height="358" width="312">
              </div>
            </div>
            <div class="half-col">
              <div class="items">
                <div class="item-info">
                  <h1>The Notetaking Bible</h1>
                  <p>Notetaking Bible was difficult because I only received the footer and header as entire images from my client. This was troublesome for responsiveness and therefore required me to create a structure that suited the images I was given, making sure responsiveness was the key component.</p>
                  <a href="http://notetakingbible.com/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                </div>
                <img src="/img/portfolio-thumbs/notetaking-image-thumb.jpg" alt="Notetaking Bible - Celtson Portfolio" height="358" width="312">
              </div>
            </div>
            <div class="half-col">
              <div class="items">
                <div class="item-info">
                  <h1>LifeWay Worship Ministry</h1>
                  <p>LifeWay Worship Ministry nurtured my communication skills and teamwork capability. This was a venture <a href="https://www.patreon.com/dealwithitcomic?ty=h" target="_blank" rel="noopener noreferrer">Tom Deal</a> and I tackled. He created designs to be used on the site, while I focused on the development side. This project also increased my WordPress abilities. </p>
                  <a href="http://www.lifeway.com/worshipministry/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                </div>
                <img src="/img/portfolio-thumbs/worship-ministry-thumb.jpg" alt="LifeWay Worship Ministry - Celtson Portfolio" height="358" width="312">
              </div>
            </div>
            <div class="half-col">
              <div class="items">
                <div class="item-info">
                  <h1>The Gathering Simulcast</h1>
                  <p>The Gathering Simulcast is the website presence for a past event connected to LifeWay. The website had to be consistent with its parent site <a href="http://thegathering2016.com/" target="_blank" rel="noopener noreferrer">thegathering2016.com</a>, and cultivate mobile friendliness.</p>
                  <a href="http://live.thegathering2016.com/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                </div>
                <img src="/img/portfolio-thumbs/the-gathering-thumb.jpeg" alt="The Gathering Simulcast - Celtson Portfolio" height="358" width="312">
              </div>
            </div>
            <div class="half-col">
              <div class="items">
                <div class="item-info">
                  <h1>The Prince Warriors</h1>
                  <p>This website focuses on the author Priscilla Shirer's new book series, <em>The Prince Warriors</em>. It elegantly lays out the books on the home page and dives deeper into each book's details as the user flows through the site.</p>
                  <a href="http://theprincewarriors.com/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                </div>
                <img src="/img/portfolio-thumbs/prince-warriors-thumb.jpg" atl="The Prince Warriors - Celtson Portfolio" height="358" width="312">
              </div>
            </div>
            <div class="half-col">
              <div class="items">
                <div class="item-info">
                  <h1>Lecrae Unashamed</h1>
                  <p>Unashamed is a new book written by the music artist Lecrae. This website was created to support an event Lecrae held to promote the publishing of his book. The design had to be simple and clean and imitate the feel of the original unashamed site: <a href="http://unashamedbook.com/" target="_blank" rel="noopener noreferrer">unashamedbook.com</a>.</p>
                  <a href="http://live.unashamedbook.com/" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                </div>
                <img src="/img/portfolio-thumbs/unashamed-book-thumb.jpg" alt="The Lecrae Unashamed Book - Celtson Portfolio" height="358" width="312">
              </div>
            </div>
            <div class="half-col">
              <div class="items">
                <div class="item-info">
                  <h1>Levels of Biblical Learning</h1>
                  <p>Levels of Biblical Learning digitally lays out biblical concepts presented through six different age ranges, from infancy through the preteen years. <a href="http://brandonwoodall.com/" target="_blank" rel="noopener noreferrer">Brandon Woodall</a> designed it and I developed it.</p>
                  <a href="http://www.lifeway.com/n/special-emphasis/levels-of-biblical-learning" target="_blank" rel="noopener noreferrer" class="button accent">See Full Site</a>
                </div>
                <img src="/img/portfolio-thumbs/lobl-image-thumb.jpg" alt="Levels of Biblical Learning - Celtson Portfolio" height="358" width="312">
              </div>
            </div>
            <div class="portfolio-footer wrapper">
              <a href="/portfolio/" class="button accent">Main Portfolio</a>
            </div>
        </div>
    </div>
</article>
