---
layout: default
---
<article class="post webstore">

  <section class="about-intro">
    <div class="wrapper">
      <div class="intro">
        <h1>Hi there, WebstaurantStore!</h1>
        <p>My name is Celtson Toote, but you can just call me Celtson 😉. Instead of a normal cover letter, I thought creating a cozy little spot on my website to tell you why I would be a great fit for your UI Designer role was the route to go.
          Before I dive into the information below, I thought I’d say a little bit about myself. I am a jokester, a laugher, a family man and a big hobbyist, from volleyball to financial “nerdom”. I spend my evenings enjoying super hero shows with
          my
          wife or chasing around my little 8 month old speedster. My family is the love of my love and I put them before anything else I do. If you want to read more about me, you can go <a href="/about" target="_blank">here</a> 🙂.</p>
        <div class="button-group">
          <a href="#site-footer" class="button accent contact">Contact Me</a>
          <a href="/portfolio" target="_blank" class="button accent-2">Portfolio</a>
        </div>
      </div>
    </div>
  </section>

  <section class="web-info">
    <div class="wrapper">
      <h2>My Career Journey</h2>
      <div class="row">
        <p class="col-xs-12">
          I’ve been a part of the working world for about 8 years now and wow has it bin a journey! I started out as a Junior Developer and over the years, moved towards the design realm. It was definitely a rocky start, but challenges
          transform me into a better version of myself. I strive in a challenging environment and have a strong desire to grow and learn. In the last few years I have progressed exponentially in my design career by learning core design principles,
          ux design processes, important communication and collaboration skills & working on project opportunities to better those skills. I’ve also learnt the importance of putting the user at the forefront of my design decisions.
        </p>
        <p class="col-xs-12">
          I have quite a few projects I’ve worked on over the years in the UI/UX Design realm, and I’ve enjoyed key aspects of all of them. I like the projects I get to work on for fun because I can be as expressive as I’d like to be, but there is
          also a big part of the UX process I love, that these types of projects miss out on. Any of my coworkers will tell you that I thrive in collaboration and communication. Figuring out how to keep my users happy within the confines of project
          requirements is a problem I can solve all day long. I get amped like this <a href="https://tenor.com/uYOd.gif" target="_blank">gif</a> (not the peanut butter) when I’m placed in those situations, which is why I am probably going to have to
          choose one of the e-commerce projects I’ve worked on.
        </p>
      </div>
    </div>
  </section>

  <section class="web-info">
    <div class="wrapper">
      <h2>My Favorite Project</h2>
      <div class="row">
        <p class="col-xs-12">
          Just recently, I’ve head the pleasure to work with my current company’s Bible team and e-commerce platform owner to design a Bible comparator tool. This has been one of my favorite projects to date, because the UX process that I care
          deeply about was implemented! I’ve found through my time in the corporate world, that it’s sometimes really difficult for the steps in a UX process to come to fruition. Deadlines squeeze good UX out of the process which in turn can really
          affect the final product’s effectiveness. Having that process implemented was such a fun experience and one I always look forward too!
        </p>
        <p class="col-xs-12"><strong>A little about that process</strong></p>
        <p class="col-xs-12">
          After receiving positive direction from user interviews, the product owner of our e-commerce platform decided we would put something together. Based on the project requirements, I developed a few
          web and mobile wireframes to start the process out. I was able to dive into competitor analysis to see what worked and what didn’t from other e-commerce platforms and mold my options to better suit our user channel. After I completed a few
          different options, I presented them to my UX team for critiques and ideas and to help in narrowing down these options. These early steps are so crucial and made the design part of the process that more fun and efficient. I spent time
          perfecting the balance of keeping this new feature’s design within our current design system, and pushing the fence a little to accommodate some growth and change. After the design was polished, I could spend some time connecting the dots
          with one of my favorite skills, prototyping. I love when I can make those connections and have a design come to life. Might be the developer side of me needing to see my design move 🤷🏾‍♂️. Anyways, I was able to present this prototype to
          the product owners and they loved it! Normally, there is push back at this point in the process, but they just loved the designs I came up with, and I could not believe it! I was so excited and so proud of the work I had done. Projects
          like these are the ones that keep me pumped up for the UI/UX world. Below are a few screenshots of the project. I’d also be more than happy to talk more about this project or any the other projects I have completed.
        </p>
        <div class="col-xs-12 col-md-6">
          <img src="/img/comparator-wireframes.png" />
        </div>
        <div class="col-xs-12 col-md-6">
          <img src="/img/comparator-design.png" />
        </div>
      </div>
    </div>
  </section>

  <section class="web-info">
    <div class="wrapper">
      <h2>Closing</h2>
      <div class="row">
        <p class="col-xs-12">
          I wanted to close with why I think I would be able to flourish at WebstaurantStore. Something extremely important to me stood out when I was watching your <i>enticing</i> recruitment video 😏. Within your introductory video, Josiah, the
          design director talked about the time employees have to try new things, to better themselves and push themselves. This is so important to me and one of the main reasons why I think I will flourish at WebstaurantStore. I have a HUGE passion
          for growth and am always trying to figure out how to develop myself to better the experience for the users I serve. If I have the freedom, time and encouragement to push myself and those around me then I consider myself in a flourishing
          environment.
        </p>
        <p class="col-xs-12">
          Well, that’s it from me! If you would like, you can view my onsite portfolio <a href="/portfolio" target="_blank">here</a>, scan some quick visual designs <a href="https://dribbble.com/celtson" target="_blank">here</a>, or
          you can just peruse my site as you please 😊!
        </p>
        <h2 class="col-xs-12 text-center">
          Thank you so much for your time!
        </h2>
      </div>
    </div>
  </section>

</article>